# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.LRMini.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
*.user
*.cache
*.editorconfig
*.dll
*.json
*.pdb
*.CopyComplete
*.txt
*.xml
Old
MiniAdmin/BaseAdmin/bin
MiniAdmin/BaseAdmin/obj
MiniAdmin/BaseAdmin/.idea

MiniAdmin/BaseAdminApi/bin
MiniAdmin/BaseAdminApi/obj
MiniAdmin/BaseAdminApi/.idea
MiniAdmin/Modules
MiniAdmin/.idea
