# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.LRMini.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
LRMini/.idea
*.user
*.cache
*.editorconfig
LRMini/obj/Debug/net7.0/LRMini.AssemblyInfo.cs
LRMini/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
LRMini/obj/Debug/net7.0/LRMini.GlobalUsings.g.cs
LRMini/obj/LRMini.csproj.nuget.dgspec.json
LRMini/obj/LRMini.csproj.nuget.g.props
LRMini/obj/LRMini.csproj.nuget.g.targets
LRMini/obj/project.assets.json
LRMini/obj/project.packagespec.json
LRMini/obj/rider.project.restore.info
*.dll
*.json
*.pdb
*.CopyComplete
*.txt
LRMini/obj/release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
LRMini/obj/release/net7.0/LRMini.AssemblyInfo.cs
LRMini/obj/release/net7.0/LRMini.GlobalUsings.g.cs
MiniAdmin/.idea/.idea.MiniAdmin.dir/.idea/indexLayout.xml
MiniAdmin/.idea/.idea.MiniAdmin.dir/.idea/projectSettingsUpdater.xml
MiniAdmin/.idea/.idea.MiniAdmin.dir/.idea/vcs.xml
MiniAdmin/.idea/.idea.MiniAdmin.dir/.idea/workspace.xml
MiniAdmin/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
MiniAdmin/obj/Debug/net7.0/MiniAdmin.AssemblyInfo.cs
MiniAdmin/obj/MiniAdmin.csproj.nuget.g.props
MiniAdmin/obj/MiniAdmin.csproj.nuget.g.targets
*.info
MiniAdmin/.idea/.idea.MiniAdmin.dir/.idea/discord.xml
MiniAdmin/obj/release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
MiniAdmin/obj/release/net7.0/MiniAdmin.AssemblyInfo.cs
MiniAdmin/bin/release/net7.0/publish/MiniAdmin.zip
Old/.idea/.idea.MiniAdmin.dir/.idea/projectSettingsUpdater.xml
Old/.idea/.idea.MiniAdmin.dir/.idea/indexLayout.xml
*.xml
Old/bin/release/net7.0/publish/MiniAdmin.zip
Old/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Old/obj/Debug/net7.0/MiniAdmin.AssemblyInfo.cs
Old/obj/MiniAdmin.csproj.nuget.g.targets
Old/obj/MiniAdmin.csproj.nuget.g.props
Old/obj/release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Old/obj/release/net7.0/MiniAdmin.AssemblyInfo.cs
MiniAdmin/bin/release/net7.0/publish/BaseAdmin.zip
MiniAdmin/obj/release/net7.0/BaseAdmin.AssemblyInfo.cs
MiniAdmin/obj/Debug/net7.0/BaseAdmin.AssemblyInfo.cs
MiniAdmin/obj/BaseAdmin.csproj.nuget.g.targets
MiniAdmin/obj/BaseAdmin.csproj.nuget.g.props
